.audit-trail-table-container {
  .audit-log-table {
    font-size: 0.875rem;
    width: 100%;

    thead {
      font-weight: 700;
      border: none;
    }

    td {
      padding: 15px 20px 15px 0;

      &.succeeded {
        width: 5%;
        text-align: center;
      }

      &.event-data {
        width: 50%;
        max-width: 500px;
        word-wrap: break-word;
      }

      .icon_x {
        color: red;
      }

      .icon_check {
        color: green;
      }
    }
  }
}
