/* Patternfly CSS places a "bg-login.jpg" as the background on this ".login-pf" class.
   This clashes with the "keycloak-bg.png' background defined on the body below.
   Therefore the Patternfly background must be set to none. */
:root {
  --theme-primary: black;
  --theme-background-header: #fff;
  --theme-background-content: #fff;
  --theme-background-table-header: #f1f3fb;
  --theme-table-border: #d9d9d9;
  --theme-border: #dcdee1;
  --theme-button-border: #030a40;
  --theme-button: #cdf200;
  --theme-action: #0459fd;
  --theme-input-border: #b8b8b8;
  --theme-text: #030a40;
  --theme-warning-background: rgba(183, 194, 234, 0.45);
  --theme-warning-icon: rgba(112, 133, 212, 1);
}

body {
  font-family: Inter, sans-serif;
}

#kc-form-login {
  display: flex;
  flex-direction: column;
}

.login-pf a {
  color: var(--theme-action);
}

.login-pf {
  background: none;
  background-color: var(--theme-background-content) !important;
}

.login-pf-page .card-pf {
  padding: 3rem 5rem;
}

.login-pf body {
  background-image: none;
  background-color: var(--theme-background-content) !important;
  background-size: none;
}

.login-pf-page {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-pf-page .login-pf-settings {
  justify-content: center;
  font-size: 18px;
  order: 4;
}

.login-pf-settings #kc-form-options {
  display: none;
}

#kc-form-options .checkbox {
  font-size: 14px;
}

#kc-form-options .checkbox label span {
  margin-left: 20px;
}

#kc-form-options .checkbox input {
  accent-color: #0300a5;
  height: 25px;
  width: 25px;
  margin-top: 0;
  margin-left: -20;
}

.login-pf-page .login-pf-header {
  margin-bottom: 24px;
}

.pf-c-button {
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 11px;
  margin: 0 auto;
}

.pf-c-button.pf-m-primary {
  background-color: var(--theme-button);
  color: var(--theme-button-border);
  min-width: 225px;
}

.pf-c-button.pf-m-block {
  width: auto;
}

.pf-c-form-control {
  height: 45px !important;
  border-radius: 5px;
  margin-top: 8px;
  border: 1px solid var(--theme-input-border);
}

h1#kc-page-title {
  margin: 10px 0 0;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
}

.kc-section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 32px;
}

.login-pf-page .card-pf .kc-description-text {
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

.pf-c-form__label-text {
  font-weight: 700;
  font-size: 14px;
}

div.kc-logo-text {
  background-image: none;
}

#kc-header {
  background-color: var(--theme-background-header99);
  border-bottom: 1px solid var(--theme-border);
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 0;
}

#kc-header-wrapper {
  padding: 20px;
}

#kc-header-wrapper .uid2-logo {
  height: 30px;
}

#kc-content-wrapper {
  margin-top: 0;
}

#kc-info-wrapper {
  font-size: 18px;
  padding: 0;
  background: none;
}

@media (max-width: 767px) {
  #kc-header {
    background-color: var(--theme-background-header99);
    border-bottom: 1px solid var(--theme-border);
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
  }

  #kc-header-wrapper {
    font-size: 16px;
    letter-spacing: 0;
  }
}

#kc-form-buttons {
  margin: 1rem 0;
  display: flex;
}

.login-pf-page .login-pf-brand {
  margin-top: 0;
}

.card-pf {
  background: var(--theme-background-content);
  border: 1px solid var(--theme-border);
  box-shadow: 0 4px 14px rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding: 3rem 5rem;
  width: 623px;
  box-sizing: border-box;
}

.centralize-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#kc-registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#kc-registration {
  width: 200px;
}

.login-pf-page .login-pf-signup a {
  margin: 0;
}

/* phone */
@media (max-width: 767px) {
  .centralize-content {
    justify-content: start;
  }

  .login-pf-page .card-pf {
    margin-top: 0;
    padding: 0 20px;
    border: 0;
    box-shadow: none;
  }

  .kc-social-grid {
    grid-column-end: 12;

    --pf-l-grid__item--GridColumnEnd: span 12;
  }

  .kc-social-grid .kc-social-icon-text {
    left: -15px;
  }
}

.pf-c-alert {
  padding: 22px 30px;
  border-radius: 10px;
  margin-bottom: 41px;
  width: 623px;
  border: none;
}

.alert-warning {
  background-color: var(--theme-warning-background);
}

.pf-c-alert__title {
  color: var(--theme-text);
  font-size: 1.0625rem;
  font-weight: 600;
}

.pf-c-alert.pf-m-warning {
  --pf-c-alert__icon--Color: var(--theme-warning-icon);
}

.pf-c-alert__icon {
  font-size: 1.5rem;
}

.pf-c-button.pf-m-primary:disabled {
  color: var(--pf-c-button--disabled--Color);
  background-color: var(--pf-c-button--disabled--BackgroundColor);
}

/* End Recovery codes */
