.api-roles-cell {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  line-height: 0.75rem;

  > div {
    background: var(--theme-label);
    border-radius: 3px;
    padding: 4px 8px;
    margin-right: 8px;
  }
}
