@import '/src/colors';

.uid2-login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    min-height: 400px;
    min-width: 400px;
    background: $color-highlight;
    text-align: left;
    padding: 20px;
    justify-content: space-around;

    .input-item {
      display: flex;
      flex-direction: column;
    }
  }
}
