.rotate-api-keys-card {
  box-shadow: 0 4px 8px var(--theme-box-shadow);
  height: auto;

  .rotate-api-keys-text {
    margin-bottom: 20px;
  }

  .warning-button {
    padding: 0;
    margin-bottom: 15px;
  }
}
