.participant-approval-form {
  display: flex;
  flex-direction: column;

  & > * {
    flex-shrink: 0;
  }

  .highlight {
    background-color: yellow;
  }

  .search-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .input-field {
      flex-shrink: 0;
    }

    .site-search-results {
      flex: 1 1 auto;
      overflow: scroll;
    }
  }

  .site-search-results {
    padding: 10px;

    & > button {
      margin: 10px;
      display: block;
      font-weight: normal;
      color: var(--theme-primary);
    }
  }
}
