h1 {
  font-size: 1.875rem;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--theme-title);
}
h2 {
  font-size: 1rem;
  margin-top: 30px;
}
h3 {
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
a {
  color: var(--theme-secondary);
}
