@import 'colors';

.app {
  --theme-primary: black;
  --theme-secondary: black;
  --theme-title: #030a40;
  --theme-highlight: #{$color-winter-green};
  --theme-background-header: #fff;
  --theme-background-sidepanel: #f2f2f3;
  --theme-background-content: #fff;
  --theme-background-table-header: #f2f2f3;
  --theme-table-border: #d9d9d9;
  --theme-border: #dcdee1;
  --theme-button-text: #030a40;
  --theme-button: #cdf200;
  --theme-button-border: #cdf200;
  --theme-action: #0459fd;
  --theme-input-border: #b8b8b8;
  --theme-underline: #78cc00;
  --theme-box-shadow: rgb(0 0 0 / 15%);
  --theme-radio-background: #0300a5;
  --theme-radio-active: #fff;
  --theme-backdrop: rgb(255 255 255 / 80%);
  --theme-select-mouseover: #dcdee1;
  --theme-info-icon: #b7c2ea;
  --theme-info-content: #035959;
  --theme-success: #058a04;
  --theme-label-background: #c0d6ff;
  --theme-search-border: #7085d4;
  --theme-search-bar-background: rgb(112 133 212 / 15%);
  --theme-banner-background: #b7c2ea;
  --theme-banner-icon: #7085d4;
  --theme-scrollbar: #c0d6ff;
  --theme-error: red;
  --theme-disabled-button-text: #878787;
  --theme-disabled-button: #d9d9d9;
  --theme-label: rgba(120, 204, 0, 0.4);
  --theme-error-label: rgba(253, 4, 4, 0.25);
  --theme-divider: #030a40;
}

.app.darkmode {
  --theme-primary: #{$color-gray};
  --theme-secondary: #{$color-brighter-lime};
  --theme-highlight: #{$color-lemon};
  --theme-background-header: #{$color-black-lighter};
  --theme-background-sidepanel: #{$color-black-light};
  --theme-background-content: #{$color-black};
  --theme-border: #dcdee1; // unsure
}
