@import 'colors';

.app {
  --theme-primary: black;
  --theme-secondary: black;
  --theme-title: #030a40;
  --theme-highlight: #{$color-winter-green};
  --theme-background-header: #fff;
  --theme-background-sidepanel: #f2f2f3;
  --theme-background-content: #fff;
  --theme-background-table-header: #f2f2f3;
  --theme-background-row: #f2f2f3b2;
  --theme-table-border: #d9d9d9;
  --theme-border: #dcdee1;
  --theme-button-text: #030a40;
  --theme-button: #cdf200;
  --theme-button-border: #cdf200;
  --theme-action: #0459fd;
  --theme-input-border: #b8b8b8;
  --theme-box-shadow: rgb(0 0 0 / 15%);
  --theme-radio-background: #0300a5;
  --theme-radio-active: #fff;
  --theme-backdrop: rgb(255 255 255 / 80%);
  --theme-select-mouseover: #dcdee1;
  --theme-info-icon: #b7c2ea;
  --theme-info-content: #035959;
  --theme-success: #058a04;

  --theme-info-background: #b7c2ea;
  --theme-error-background: #facec5;
  --theme-success-background: #c0d5d5;
  --theme-warning-background: #fefcd3;
  --theme-info-icon: #7085d4;
  --theme-error-icon: #e52900;
  --theme-success-icon: #035959;
  --theme-warning-icon: #ffdb1d;

  --theme-label-background: #c0d6ff;
  --theme-search-bar-background: rgb(112 133 212 / 15%);
  --theme-banner-info-background: #b7c2ea;
  --theme-banner-warning-background: rgba(247, 208, 49, 0.3);
  --theme-banner-warning-icon: rgba(247, 208, 49, 1);
  --theme-banner-error-background: rgba(255, 0, 0, 0.8);
  --theme-banner-info-icon: #7085d4;
  --theme-scrollbar: #c0d6ff;
  --theme-error: red;
  --theme-disabled-button-text: #878787;
  --theme-disabled-button: #d9d9d9;
  --theme-label: rgba(120, 204, 0, 0.4);
  --theme-error-label-background: rgba(253, 4, 4, 0.25);
  --theme-divider: #030a40;
  --theme-footer-divider: #0300a5;
  --theme-disabled-checkbox: #f2f2f3;
  --theme-account-pending-label: #e9f896;
}

.app.darkmode {
  --theme-primary: #{$color-gray};
  --theme-secondary: #{$color-brighter-lime};
  --theme-highlight: #{$color-lemon};
  --theme-background-header: #{$color-black-lighter};
  --theme-background-sidepanel: #{$color-black-light};
  --theme-background-content: #{$color-black};
  --theme-border: #dcdee1; // unsure
}
