.cstg-domains-management {
  .cstg-domains-table {
    width: 100%;

    th:first-of-type,
    td:first-of-type {
      padding-left: 10px;
      width: 21px;
    }

    th.action {
      text-align: end;
    }

    .action {
      width: 20%;
    }

    .action-cell {
      font-size: 0.8125rem;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    .domain-input-field {
      display: flex;
      gap: 10px;
      align-items: center;

      .input-container {
        border-radius: 5px;
        border: 1px solid var(--theme-input-border);
      }

      .input-container.Warning {
        border: 1px solid var(--theme-warning-border);
      }

      .input-container.Error {
        border: 1px solid var(--theme-error-border);
      }
    }

    .action-cell > button {
      padding: 5px 0 5px 10px;
    }
  }

  .cstg-domains-management-icon {
    margin-right: 8px;
  }
}
