.cstg-values-management {
  .cstg-values-table {
    width: 100%;

    td {
      padding: 15px 5px 15px 16px;
    }

    th:first-of-type,
    td:first-of-type {
      padding-left: 10px;
      width: 21px;
    }

    th.action {
      text-align: end;
    }

    .action {
      width: 20%;
    }

    .action-cell {
      font-size: 0.8125rem;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    .no-search-results {
      width: 500px;
    }
  }

  .cstg-values-management-icon {
    margin-right: 8px;
  }

  .cstg-values-table-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .cstg-values-search-bar-container {
      margin-right: 20px;
    }
  }
}
