.participant-requests-container {
  h2 {
    margin-top: 0;
  }
}

.participant-requests-container,
.approved-participant-container {
  .participant-requests-table,
  .approved-participants-table {
    width: 100%;

    tr th {
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }

  .no-participant-requests-container {
    margin-top: 15px;
    border: 1px solid var(--theme-border);
    border-radius: 5px;
    padding: 33px 24px;
    display: flex;
    align-items: center;

    .no-participant-requests-text {
      margin-left: 33px;

      h2 {
        margin-top: 0;
      }
    }
  }
}
