.banner-container {
  background: var(--theme-banner-background);
  border-radius: 10px;
  padding: 12px 30px;
}

.banner-icon {
  color: var(--theme-banner-icon);
  margin-right: 16px;
}

.banner-text {
  color: var(--theme-button-text);
}
