.collapsible-root {
  display: flex;
  border: 1px solid var(--theme-border);
  border-radius: 5px;
  flex-direction: column;
  width: 100%;

  .collapsible-trigger {
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 5px;

    .collapsible-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .chevron-icon {
        color: var(--theme-action);
      }
    }
  }

  .collapsible-trigger[data-state='open'] > .collapsible-header > .chevron-icon {
    transform: rotate(180deg);
  }
  
  .collapsible-content {
    display: flex;
    padding: 0 0 20px 20px;
  }
}
