.display-secret {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: var(--theme-display-box);
  padding: 0px 10px;
  border-radius: 10px;

  .view-button,
  .copy-button {
    color: var(--theme-action);
    padding: 0 8px;
    font-size: 1rem;
  }
  p {
    word-break: break-all;
    // overflow-wrap: anywhere;
  }
}
