.message-container {
  svg {
    font-size: 1rem;
  }

  &.Success {
    background-color: var(--theme-success-background);
    svg {
      color: var(--theme-success-icon);
    }
  }

  &.Error {
    background-color: var(--theme-error-background);
    svg {
      color: var(--theme-error);
    }
  }

  &.Info {
    background-color: var(--theme-info-background);
    svg {
      color: var(--theme-info);
    }
  }

  &.Warning {
    background-color: var(--theme-warning-background);
    svg {
      color: var(--theme-warning);
      background: radial-gradient(black 35%, transparent 30%);
    }
  }
}
