.portal-header {
  background-color: var(--theme-background-header);
  border-bottom: 1px solid var(--theme-border);
  display: flex;
  align-items: center;
  padding: 0 30px;

  .uid2-logo {
    height: 30px;
  }

  .title {
    flex-grow: 1;
    padding: 20px 20px 15px 20px;
  }

  .profile-dropdown-button {
    all: unset;
    font-weight: 700;
    align-self: stretch;
    border-bottom: 5px solid var(--theme-underline);
    padding: 20px 3px 0;
    margin-right: 80px;
    svg {
      margin-left: 8px;
    }
  }

  .profile-dropdown-content {
    background-color: var(--theme-background-table-header);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--theme-border);
    display: flex;
    flex-direction: column;
    min-width: 200px;

    .profile-dropdown-arrow {
      fill: var(--theme-border);
    }

    .portal-avatar-container {
      display: flex;
      justify-content: right;
      .portal-avatar {
        margin: 5px;
        overflow: hidden;
        border-radius: 20px;
        height: 80px;
      }
    }

    .separator {
      height: 1px;
      background-color: var(--theme-border);
      margin: 10px -5px;
    }

    *:hover {
      outline: none;
    }
  }

  .theme-switch {
    button {
      all: unset;
    }

    color: var(--theme-secondary);
    display: flex;
    justify-content: space-between;

    .theme-toggle {
      width: 42px;
      height: 25px;
      background-color: gray;
      border-radius: 9999px;
      margin-left: 10px;
    }

    .theme-toggle[data-state='checked'] {
      background-color: 'black';
    }

    .thumb {
      display: block;
      width: 21px;
      height: 21px;
      background-color: white;
      border-radius: 9999px;
      transform: translateX(2px);
    }

    .thumb[data-state='checked'] {
      transform: translateX(19px);
    }
  }
}
