@import '../../colors';

.side-nav {
  padding: 10px 12px 0;
  min-width: 250px;
  background-color: var(--theme-background-medium);

  a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
  }

  .active {
    font-weight: 700;
    color: var(--theme-background);
    background-color: var(--theme-secondary);
  }

  li {
    display: block;
    margin: 2px 0;
    font-size: 1.2em;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}
