.sortable-table-header {
  border: none;
  svg {
    margin-left: 5px;
  }

  .sortable-table-header-button {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
}
