.tooltip-trigger {
  color: var(--theme-info-icon);
  border: none !important;
  padding: 0 5px !important;
}

.tooltip-content {
  color: var(--theme-button-text);
  border-radius: 4px;
  background-color: var(--theme-background-sidepanel);
  padding: 0.625rem;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.tooltip-arrow {
  fill: var(--theme-background-sidepanel);
}
