.sharing-permissions-table {
  margin-top: 60px;
}

.sharing-permissions-table-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.sharing-permissions-table h1 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.sharing-permissions-search-bar-container {
  width: 190px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--theme-search-border);
  padding: 6px 2px;
  justify-content: space-between;
  ::placeholder {
    color: var(--theme-search-border);
    opacity: 1;
  }
}

.sharing-permission-search-bar-icon {
  color: var(--theme-search-border);
  height: 1rem;
  margin-left: 8px;
}

.sharing-permission-actions {
  display: flex;
  align-items: center;
}

.sharing-permissions-search-bar {
  width: 100%;
  border: none;
  outline: none;
  color: var(--theme-search-border);
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.shared-participants-table {
  width: 100%;
}

.shared-participants-table tr th {
  background-color: var(--theme-background-sidepanel);
  line-height: 1rem;
  height: 1rem;
}

.shared-participants-table th:first-of-type,
.shared-participants-table td:first-of-type {
  padding-left: 10px !important;
}

.shared-participants-table tr:nth-of-type(1) td {
  margin-top: 16px;
}

.no-participants-container {
  margin-top: 16px;
  border: 1px solid var(--theme-border);
  border-radius: 5px;
  padding: 36px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.no-participants-text {
  margin-left: 40px;
}
