.sharing-permissions-table {
  margin-top: 30px;
  border: 1px solid var(--theme-border);
  border-radius: 5px;
  padding: 0 20px 20px 20px;

  .sharing-permissions-table-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sharing-permissions-search-bar-container {
    width: 190px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--theme-action);
    padding: 6px 2px;
    justify-content: space-between;
    ::placeholder {
      color: var(--theme-action);
      opacity: 1;
    }
  }

  .sharing-permission-search-bar-icon {
    color: var(--theme-action);
    height: 16px;
    margin-left: 8px;
  }

  .sharing-permission-actions {
    display: flex;
    align-items: center;
  }

  .sharing-permissions-search-bar {
    width: 100%;
    border: none;
    outline: none;
    color: var(--theme-action);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }

  .shared-participants-table {
    width: 100%;
    tr th {
      background-color: var(--theme-background-sidepanel);
      font-size: 0.875rem;
      line-height: 1rem;
      padding: 9px 0;
    }

    &.selected tr th {
      background-color: var(--theme-info-icon);
    }

    th:first-of-type,
    td:first-of-type {
      padding-left: 10px;
      width: 21px;
    }

    th:nth-of-type(2) {
      padding-left: 66px;
    }

    tr:nth-of-type(2n) {
      background-color: var(--theme-background-table-header);
    }
  }

  .no-participants-container {
    margin-top: 16px;
    border: 1px solid var(--theme-border);
    border-radius: 5px;
    padding: 36px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }

  .no-participants-text {
    margin-left: 40px;
  }

  .sharing-permission-delete-button {
    color: var(--theme-radio-background);
    padding: 0;
  }

  .sharing-permission-trashcan-icon {
    margin-right: 8px;
  }
}
