.checkbox-option {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.inline-options {
  display: flex;
  align-items: center;
}

.checkbox-root {
  padding: 0 !important; // override button padding
  width: 25px;
  height: 25px;
  border: 1px solid var(--theme-input-border) !important;

  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-root:focus {
  box-shadow: 0 0 0 2px black;
}

.checkbox-indicator {
  color: black;
}
