.inputField {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  margin-top: 1rem;
}

.inputLabel {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.textInput {
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  padding: 0.5rem;
}

.optionLabel {
  padding-left: 0.5rem;
  line-height: 1rem;
}
