.radio-group-root {
  display: flex;
  gap: 10px;
  margin-top: 0.5rem;
}

.radio-group-item {
  width: 25px;
  height: 25px;
  margin-right: 11px;
  padding: 0 !important;
  border-radius: 100% !important;
  border: 1px solid var(--theme-input-border) !important;
}
.radio-group-item:has(> .radio-group-indicator) {
  background-color: var(--theme-radio-background);
}

.radio-group-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.radio-group-indicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
}

.radio-option {
  display: flex;
  align-items: center;

  .disabled {
    background-color: #ebebe4 !important;
    cursor: default !important;
  }
}
