<html>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap'
      rel='stylesheet'
    />
    <style type='text/css'>
      body { padding: 70px; text-align: center; font-family: Inter; font-size: 18px; } body { color:
      #000000; background-color: #FFF; } .logo-container { padding: 20px } .logo { height: 30px; }
      h1 {font-size: 22px;; font-weight: 700; } .content { margin-top: 31px; width:500px; display:
      inline-block; } .button { border-radius: 5px; font-weight: 600; font-size: 18px; padding: 11px
      42px; margin: 0 auto; background-color: #cdf200; color: #030a40; width: auto; text-align:
      center; text-decoration: none; } .content-text { text-align: center; font-size: 18px;
      font-weight: 400;} .footer { margin-top: 60px; }
    </style>
  </head>
  <body>
    <div>
      <a href='{{baseUrl}}'><img src='{{baseUrl}}/uid2-logo.svg' alt='UID2 logo' class='logo' /></a>
    </div>
    <div class='content'>
      <h1>Your UID2 Portal account has been confirmed.</h1>
      <p class='content-text'>
        You can now log in and take full advantage of the UID2 Portal.
      </p>
      <div class='footer'>
        <a href='{{link}}' class='button'>Log In</a>
      </div>
    </div>
  </body>
</html>