.add-app-names-dialog {
  .checkbox-container {
    display: flex;
    padding-top: 20px;
    vertical-align: middle;

    .app-names-checkbox-text {
      padding-top: 2px;
    }
  }

  .app-names-form-error {
    max-height: 100px;
    overflow: auto;
  }
}
