@import './styles/colors';
@import './styles/themes';

.app {
  @import 'styles/tables';
  @import 'styles/text';
  @import 'styles/buttons';

  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--theme-primary);
  font-size: 0.875rem;
  line-height: 1.375rem;

  .app-panel {
    display: flex;
    align-items: stretch;
    background-color: var(--theme-background-header);
    height: 100%;
  }

  .app-centralize {
    align-items: center;
    justify-content: center;
  }
}
