@import './styles/colors';
@import './styles/themes';
@import 'styles/tables';
@import 'styles/text';
@import 'styles/buttons';

.app {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--theme-primary);
  font-size: 0.875rem;
  line-height: 1.375rem;

  .app-panel {
    display: flex;
    align-items: stretch;
    background-color: var(--theme-background-header);
    flex-flow: row wrap;
    height: 100%;
  }

  .app-centralize {
    align-items: center;
    justify-content: center;
  }

  .content {
    padding: 12px 112px 12px 12px;
    flex-grow: 1;
    background-color: var(--theme-background-content);
  }

  button {
    border: 1px solid var(--theme-button-border);
    background: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 20px;
  }
}
