@import 'colors';
@import 'shared';
@import 'theme';

.app {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--theme-primary);

  a {
    color: var(--theme-secondary);
  }

  .app-panel {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    background-color: var(--theme-background);
    height: 100%;
  }

  .content {
    padding: 12px;
    flex-grow: 1;
    background-color: var(--theme-background-dark);
  }
}
