$color-background: #252526;
$color-action-text: skyblue;
$color-primary: #f1f2eb;
$color-secondary: #b6baad;
$color-pop: #ff595e;
$color-highlight: #1982c4;
$color-background-light: #2b2d2e;
$color-table-background: slateblue;
