@import 'colors';

.app {
  --theme-primary: #{$color-11-oclock};
  --theme-secondary: #{$color-olive};
  --theme-highlight: #{$color-winter-green};
  --theme-background: #{$color-gray-darker};
  --theme-background-medium: #{$color-gray};
  --theme-background-dark: #{$color-dirty-sock};
}

.app.darkmode {
  --theme-primary: #{$color-gray};
  --theme-secondary: #{$color-brighter-lime};
  --theme-highlight: #{$color-lemon};
  --theme-background: #{$color-black-lighter};
  --theme-background-medium: #{$color-black-light};
  --theme-background-dark: #{$color-black};
}
