.account-pending-content {
  padding: 70px 100px;

  p {
    margin-top: 8px;
    font-size: 1rem;
  }
}

.account-pending--header {
  display: flex;
  align-items: center;
  .pending-label {
    background: var(--theme-account-pending-label);
    font-size: 0.75rem;
    border-radius: 3px;
    padding: 3px 12px;
    margin-left: 10px;
    text-transform: uppercase;
  }
}
