.account-pending-content {
  align-self: start;
  padding: 4.5rem 6.5rem;
}

.pending-label {
  background: var(--theme-label);
  font-size: 0.625rem;
  border-radius: 3px;
  padding: 3px 8px;
  margin-left: 10px;
  text-transform: uppercase;
}
