.account-info-content {
  margin-top: 3.75rem;
}

.account-info-title {
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem;
}

.account-info-input {
  width: 29rem;
}

.account-info-footer-text {
  margin-top: 2.5rem;
}

.account-info-tips {
  margin-left: 5.5rem;
}
