.add-participant-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.action-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.add-sharing-permission-button {
  margin-bottom: 5rem;
}

.add-participant-button {
  margin-left: 2.5rem;
}

.add-participant-dialog-search-bar {
  padding: 10rem;
}
