.sharingPermissions {
  .dialog-title {
    margin-right: 36px;
  }

  .bulk-add-and-search-collapsibles {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;

    .search-description {
      margin-top: 0;
    }
  }
}
