.sharingPermissions {
  .dialog-title {
    margin-right: 36px;
  }

  .dialog-content {
    max-width: 606px;
  }

  .dialog-footer-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
}