.TabsList {
  padding: 20px 0;
}
.TabsTrigger {
  background-color: white;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve-11);
}

.TabsTrigger[data-state='active'] {
  color: var(--violet-11);
  box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
}
