.portal-team {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .heading-details {
    margin: 4px 0;
  }

  .add-team-member {
    margin-top: 10px;
    margin-right: 30px;
  }

  .portal-team-table {
    font-size: 0.875rem;

    .resend-invite-label {
      background: var(--theme-label-background);
      border-radius: 3px;
      padding: 0.25rem 0.5rem;
      margin-left: 0.5rem;
    }

    thead {
      font-weight: 700;
      border: none;
    }

    .action {
      text-align: center;
    }

    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    td.action {
      button {
        &.clickable {
          cursor: pointer;
          color: var(--theme-action);
        }

        border: none;
        width: 10em;
        padding: 0 10px;
      }

      svg {
        color: var(--theme-action);
        padding: 0 10px;
      }
    }
  }
}
