.error-content {
  align-self: flex-start;
  text-align: center;
  padding: 4.5rem 6.5rem;
}
.error-content .uid2-logo {
  display: inline-block;
}

.error-content .uid2-logo-darkmode {
  display: none;
}

.app.darkmode .error-content {
  .uid2-logo {
    display: none;
  }

  .uid2-logo-darkmode {
    display: inline-block;
  }
}
